[submodule "packages/common/tmux/.config/tmux/plugins/tpm"]
	path = packages/common/tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "packages/common/tmux/.config/tmux/plugins/catppuccin"]
	path = packages/common/tmux/.config/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux
